GOOGLE_CLIENT_ID=<GOOGLE CLIENT ID>
GOOGLE_CLIENT_SECRET=<GOOGLE CLIENT SECRET>
COOKIE_SECRET=<CUSTOM RANDOM STRING>
BASE_URL=http://localhost:3000
STORAGE_DIR=/path/to/writeable/file/store
ALLOWED_EMAILS=email1@example.com,email2@example.com
TIMEZONE=America/Denver
SWITCH_OFF_HOUR=23
SWITCH_ON_HOUR=4
UNIFI_IP=10.0.0.1
UNIFI_USERNAME=<UNIFI LOGIN USERNAME>
UNIFI_PASSWORD=<UNIFI LOGIN PASSWORD>
UNIFI_RULE_NAME=Turn Internet Off
